#contact iframe
{
    width: 100%;
}

.Hobbies{
    font-size:22px ;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    width: 100%;
    display:inline-block;
}

.Hobbies i{
float: right;

}








